#search {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 150;
	background-color: #fff;
	display: none;
}
#search .close {
	color: #cc9966;
	padding: 30px;
	font-size: 30px;
	cursor: pointer;
	float: right;
}
#search #place-search {
	position: relative;
	top: 30%;
}
#search .txt-search {
	width: 95%;
	padding: 20px 2.5%;
	font-size: 35px;
	text-align: center;
	background-color: #fff;
	color: #cc9966;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	box-shadow: 0 0 0 0;
}