.frame-sign {
	position: relative;
	width: 350px;
	background-color: #fff;
	color: #555;
	box-shadow: 0 10px 30px rgba(0,0,0,0.2);
	border-radius: 10px;
	margin: auto;
	margin-top: 50px;
	margin-bottom: 50px;
	padding: 50px;
}
.frame-sign .top {
	text-align: center;
	margin-bottom: 20px;
}
.frame-sign .mid {
	padding-bottom: 20px;
}
.frame-sign .mid .sig-block {
	margin-bottom: 15px;
}
.frame-sign .mid .sig-block p {
	margin-bottom: 5px;
	font-size: 14px;
}
.frame-sign .mid .sig-block .btn {
	width: 100%;
}
.frame-sign .bot {
	border-top: 1px #ededed solid;
	text-align: center;
	padding: 20px 0;
	font-size: 14px;
}